re
pandas
numpy
matplotlib
scikit-learn
requests
wikipedia
spotipy
beautifulsoup4
selenium
tensorflow==2.9.2
transformers
datasets
time
tqdm
ast
copy
fuzzywuzzy
collections
pathlib
wordcloud
plottable
